.App {
  text-align: center;
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
}

.App div {
}

.left {
  margin-top: 20%;
  margin-left: 10px;
  width: 20%;
  border: 2px solid rgb(66, 88, 116);
  background-color: green;
}

.center {
    margin-top: 20%;
  margin-left: 10px;
  width: 20%;
  border: 2px solid rgb(66, 88, 116);
  background-color: green;
}

.right {
    margin-top: 20%;
  margin-left: 10px;
  width: 20%;
  border: 2px solid rgb(66, 88, 116);
  background-color: green;

}