.App {
  text-align: center;
  /*display: flex;*/
  /*justify-content: center;*/
  /*font-family: "Verdana", "Geneva", sans-serif;*/
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-variant: small-caps;
}

.App div {

}

.App link a {
  color: rgb(66, 88, 116);
}