.Home {
  margin-top: 8vw;
}

.Home p {
  font-size: 1.5vw;
  max-width: 24%;
  margin-left: 64%;
  background-color: rgb(0, 0, 0, 0.6);
  border-radius: 12px;
  padding: 2vw;
  letter-spacing: 0.2vw
}

